<ion-header>
  <ion-toolbar>
    Créer un signalement
    <ion-button slot="end">
      Poster
    </ion-button>
  </ion-toolbar>
  
</ion-header>

<ion-content>
 
  <ion-item>
    <ion-label>Type du problème:</ion-label>
    <ion-select value="brown" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="brown">Infrastructure</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-textarea placeholder="Entrez une description..."></ion-textarea>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button ><ion-icon name="image"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button (click)="captureImage()"><ion-icon name="camera"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>


  <ion-button (click)="selectImage()">
    Click Picture
 </ion-button>
 
 <img [src]="clickedImage" />
</ion-content>
