<ion-header>
  <ion-toolbar>
    Créer un signalement
    <ion-button slot="end" (click)="insertSignalement()">
      Poster
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Type du problème:</ion-label>
    <ion-select [(ngModel)]="newSignalement.idType" value="brown" okText="valider" cancelText="annuler" required>
      <ion-select-option *ngFor="let type of allType" value="{{type.id}}">{{type.nom}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-textarea [(ngModel)]="newSignalement.descriptionSignalement" placeholder="Entrez une description..." required></ion-textarea>
  </ion-item>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button >
    <ion-fab-list side="top">
      <ion-fab-button (click)="getGallery()">
        <ion-icon name="image"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button (click)="getCamera()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <img [src]="imgURL" width="300" height="300"/>
  <hr>
  <ion-label>{{errorMessage}}</ion-label>
</ion-content>