
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="height: 100%;">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#!">
            <div class="sidebar-brand-text mx-3">Back-office</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Utilities Collapse Menu -->

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="map">
                <i class="fas fa-map fa-chart-area"></i>
                <span>carte Signalements</span></a>
        </li>

        <!-- <li class="nav-item">
            <a class="nav-link" href="list">
                <i class="fas fa-fw fa-table"></i>
                <span>Signalements</span></a>
        </li> -->

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="region">
                <i class="fas fa-fw fa-table"></i>
                <span>Liste des regions</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="typeproblem">
                <i class="fas fa-fw fa-table"></i>
                <span>Liste des type de probleme</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="admin">
                <i class="fas fa-fw fa-table"></i>
                <span>Liste des utilisateurs Admin</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="stats">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Stats</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>


    </ul>
    <!-- End of Sidebar -->
