<ion-header>
  <ion-toolbar>
    <ion-title>Inscription</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <form  #form="ngForm" >
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Inscription</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="email" [(ngModel)]="appUser._Email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" [(ngModel)]="appUser._Mdp" type="password" placeholder="mot de passe" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="confirm" type="password" placeholder="valider mot de passe" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <div>{{errorMessage}}</div>
            <ion-button  size="large" type="submit" (click)="register()" [disabled]="form.invalid" expand="block">S'incscrire</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
