
    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="height: 100%;">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#!">
            <div class="sidebar-brand-text mx-3">Front-office</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Utilities Collapse Menu -->

        <!-- Nav Item - Charts -->
      
        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="/FrontOffice/(frontOffice:mySignalements)" >
                <i class="fas fa-fw fa-table"></i>
                <span>Liste de mes Signalements</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/FrontOffice/(frontOffice:signalementEnCours)" >
                <i class="fas fa-fw fa-table"></i>
                <span>Liste des Signalements en cours</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/FrontOffice/(frontOffice:signalementTermine)">
                <i class="fas fa-fw fa-table"></i>
                <span>Liste des Signalement termine</span></a>
        </li>
       

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>


    </ul>
    <!-- End of Sidebar -->
